body {
  background-color: #ab0e0e;
}
h1 {
  font-family: "Lucida Console", "Courier New", monospace;
}

h2 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: black
}

h3 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: black
}

p {
  color: black
}

#body {
  margin: 30px;
  padding: 50px;
  border-style: groove;
  border-width: thick;
  background-color: lightgray;
}

#my-car {
  width: 400px;
}

#back-home {
  background-color: #ab0e0e;
  padding: 10px;
  border-radius: 25px:
}

#sect-1 {
  background-color: #dbdbdb;
  padding: 10px;
  border-style: dashed;
  border-width: 10px
  border-color: black;
  margin-bottom: 15px;
}

#sect-2 {
  background-color: #dbdbdb;
  padding: 10px;
  border-style: dashed;
  border-width: 10px
  border-color: black;
  margin-bottom: 15px;
}

#sect-3 {
  background-color: #dbdbdb;
  padding: 10px;
  border-style: dashed;
  border-width: 10px
  border-color: black;
  margin-bottom: 15px;
}
