h1, h2, h3 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: black;
}

#body {
  color: black;
}

/*
.fancy-box {
  border: solid 3px #2f007a;
  background-color: #a18fbd;
  height: 175px;
  padding: 10px;
}
*/

#output {
  background-color: red;
}
